Django==5.1.4
psycopg2-binary==2.9.10
python-decouple==3.8
dj-database-url==2.3.0
python-magic==0.4.27
pandas==2.2.3
openpyxl==3.1.5
django-otp==1.5.4
qrcode==8.0
django-ratelimit==4.1.0
pymemcache==4.0.0
gunicorn==23.0.0
